#main-form {
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
    display: flex;
    font-size: 18px;
    font-weight: 600;
}

span {
    font-size: 20px;
    font-weight: 700;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
}

.cardDetails img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;

}

input {
    width: 95%;
    padding: 12px;
    margin: 10px;
    border: 1px solid rgb(179, 173, 173);
    border-radius: 6px;
    font-size: 17px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: cadetblue;
    border-radius: 5px;
    border: none;
    color: whitesmoke;

}

.back {
    margin-left: 50px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#delete-button {
    background-color: rgb(248, 93, 93);
}

.cardDetails p {
    font-size: 20px;

}

#detailslist {
    display: flex;
    padding: 10px;
    gap: 15px;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    background-color: rgb(222, 233, 232);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.cardDetails {
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
    width: 20%;
    height: 50%;
    background-color: white;
    box-shadow: 10px 10px rgb(61, 54, 61);
}

#editDetails {
    background-color: rgba(0, 0, 0, 0.1);
}

.edit-container {
    z-index: 10;
    width: 50%;
    position: absolute;
    top: 15%;
    left: 20%;
    background-color: rgb(212, 241, 232);
    padding: 25px;
    border-radius: 6px;
}

.Cancel {
    padding: 10px;
    font-size: 18px;
    background-color: cadetblue;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    width: 60px;
    margin-top: 5px;
}